nav {
    display: flex;
    justify-content: center;
}
nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: #ff7b00;
    
}
nav a:hover {
    color: #ccc;
    filter: drop-shadow(0 0 5px #ff7b00);
}
.active {
    background-color: #094181;
    color: #fff;
    font-weight: bold;

}
.usuario {
    margin-top: 150px;
    margin-left: -500px;
 }


