#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

}

.logo {
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 0px;
  margin-right: 1300px;
  margin-top: 50px;
  
}
.index{
  margin-left: 250px;
  margin-top: -200px;
  font-weight: bolder;
 
}
.h2impo {
  margin-left: 250px;
  font-size: large;
  font-weight: bolder;
  font-size: 40px;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.teste {
  background-color: red;
}